.toggle {
    display: block !important;
}

.laRecherche .form-select {
    cursor: pointer;
}

.laRecherche .form-select:not(:first-child), .laRecherche input {
    margin-left: 15px;
}

.laRecherche button {
    margin-left: 15px;
}

.leVehicule {
    text-decoration: none;
    color: #000;
}

.vehicule .imgVehic img {
    width: 600px;
    height: 100%;
}

.infos-vendeur p, .infos-vendeur a {
    margin-top: 0;
    margin-bottom: 0;
}

.leVehicule:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px #333;
}

.vendre select {
    margin-bottom: 20px;
}

#categorieDeuxRoues {
    display: none;
}


.questionFrequentes {
    display: none;
}

.questionFrequentes button {
    margin-top: 20px;
    width: 100%;
}

#contacter textarea {
    height: 100px;
}

